body {
  margin:0px;
  background-color:rgba(248, 248, 248, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
  display:flex;
}
#u722 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:381px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/scenarios/u723_div.png');
  background-repeat:no-repeat;
  background-size:562px 381px;
  background-position: 0.0px 0.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:199px;
  width:562px;
  height:381px;
  display:flex;
}
#u723 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:20px;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:67px;
  width:204px;
  height:20px;
  display:flex;
}
#u725 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"LEMON MILK Bold", "LEMON MILK", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:63px;
  width:207px;
  height:24px;
  display:flex;
  font-family:"LEMON MILK Bold", "LEMON MILK", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u726 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:389px;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:180px;
  width:332px;
  height:389px;
  display:flex;
}
#u729 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:304px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
  text-align:left;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:244px;
  width:260px;
  height:304px;
  display:flex;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#000000;
  text-align:left;
}
#u730 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:39px;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:530px;
  width:211px;
  height:39px;
  display:flex;
}
#u732 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"LEMON MILK Bold", "LEMON MILK", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:1032px;
  top:537px;
  width:184px;
  height:24px;
  display:flex;
  font-family:"LEMON MILK Bold", "LEMON MILK", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u733 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:39px;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:450px;
  width:131px;
  height:39px;
  display:flex;
}
#u735 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"LEMON MILK Bold", "LEMON MILK", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:457px;
  width:94px;
  height:24px;
  display:flex;
  font-family:"LEMON MILK Bold", "LEMON MILK", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u736 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:429px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/scenarios/u737_div.png');
  background-repeat:no-repeat;
  background-size:556px 429px;
  background-position: 0.0px 0.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:119px;
  width:556px;
  height:429px;
  display:flex;
}
#u737 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:339px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/scenarios/u738_div.png');
  background-repeat:no-repeat;
  background-size:590px 339px;
  background-position: 0.0px 0.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:150px;
  width:590px;
  height:339px;
  display:flex;
}
#u738 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:349px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/scenarios/u739_div.png');
  background-repeat:no-repeat;
  background-size:563px 349px;
  background-position: 0.0px 0.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:159px;
  width:563px;
  height:349px;
  display:flex;
}
#u739 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
